# Disable SPI Hard IP
SYSCONFIG SLAVE_SPI_PORT=DISABLE CONFIG_MODE=JTAG CONFIG_SECURE=OFF TRANSFR=OFF MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE MCCLK_FREQ=38.8 BACKGROUND_RECONFIG=OFF;

LOCATE COMP "clk"         SITE "P6";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst"         SITE "M13";
LOCATE COMP "led"         SITE "P11"; // LED

LOCATE COMP "lcd[0]"      SITE "F3"; // P1 - R0 - RS
LOCATE COMP "lcd[1]"      SITE "F1"; // P1 - G0 - EN
LOCATE COMP "lcd[2]"      SITE "G3"; // P1 - B0 - D4
LOCATE COMP "lcd[3]"      SITE "G2"; // P1 - R1 - D5
LOCATE COMP "lcd[4]"      SITE "H3"; // P1 - G1 - D6
LOCATE COMP "lcd[5]"      SITE "H5"; // P1 - B1 - D7

LOCATE COMP "uartTx"      SITE "P4";
LOCATE COMP "uartRx"      SITE "R2";

IOBUF   PORT "uartTx"  IO_TYPE=LVCMOS33;
IOBUF   PORT "uartRx"  IO_TYPE=LVCMOS33;


LOCATE COMP "SPIOut"      SITE "T7";  // Flash MOSI
LOCATE COMP "SPIIn"       SITE "T8";  // Flash MISO
LOCATE COMP "SPICSn"      SITE "N8";  // Flash CS
// LOCATE COMP "SPIclk"      SITE "N9";  // Flash CLK - Not available, need to use USRMCLK
